/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2023) 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */

@define-color backgroundlight #4C5C4C;
@define-color backgrounddark #282A28;
@define-color backgroundtooltip #1F281F; 

@define-color textcolor1 #A8B9A8;
@define-color textcolor2 #769676;
@define-color textcolor3 #4C5C4C;
@define-color iconcolor #4f504f;
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "CommitMono Nerd Font";
    border: none;
    border-radius: 0px;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0,0,0,0.875);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    margin: 5px 15px 5px 0px;
    padding: 0px 5px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    background: @backgrounddark;
}

#workspaces button {
    margin:0;
    border-radius: 15px;
    padding: 0px 8px;
    border: 0px;
    color: @textcolor1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @textcolor1;
    margin:0;
    padding: 0px 8px;
    background: @backgroundlight;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @backgroundlight;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 16px;
    background-color: @backgroundtooltip;
    padding:10px;
}

tooltip label {
    color: @textcolor1;
    font-weight:lighter;
    opacity: 0.95;
    text-shadow: none;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @backgrounddark;
    margin: 5px 15px;
    padding: 0px 10px;
    border-radius: 12px;
    color:@textcolor1;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @backgrounddark;
    margin: 5px 15px 5px 0px;
    padding: 0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
}

#taskbar button {
    margin:0px;
    border-radius: 15px;
    padding: 0px 10px;
    transition: all 0.3s ease-in-out;
}

#taskbar button.active {
    background: @backgroundlight;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave, 
#custom-browser, 
#custom-keybindings, 
#custom-outlook, 
#custom-filemanager, 
#custom-teams, 
#custom-chatgpt, 
#custom-calculator, 
#custom-windowsvm, 
#custom-cliphist, 
#custom-settings, 
#custom-wallpaper, 
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 23px;
    font-size: 18px;
    font-weight: bold;
    color: @iconcolor;
}
 
#custom-hyprshade {
    margin-right:12px;
}

#custom-hypridle {
    margin-right:18px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-waybarthemes,#custom-system {
     margin-right:15px;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    padding-right: 24px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 10px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:18px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#custom-updates.green {
    background-color: @backgroundlight;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#hardware {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 10px 0px 12px;
    margin: 5px 15px 5px 0px;
    font-style: normal;
}

#disk,#memory,#cpu,#temperature {
    margin:0px;
    padding:0px;
}

#temperature {
    margin-right: 4px;
}

#power-profiles-daemon {
    font-size: 13px;
    font-weight: bold;
}

#language {
    color: @textcolor3;
    margin-right: 12px;
    font-weight: bolder;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 10px;
    font-weight: bolder;
    font-style: normal;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    font-weight: bolder;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#pulseaudio.muted {
    background-color: @backgrounddark;
    color: @textcolor1;
}

#devices {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */
#network {
    margin-right: 10px;
}
/*
#network {
    background-color: @backgrounddark;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#network.ethernet {
    background-color: @backgrounddark;
    color: @textcolor2;
}

#network.wifi {
    background-color: @backgrounddark;
    color: @textcolor2;
}
*/

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */
#bluetooth {
    font-size: 16px;
    margin-right: 2px;
}
/*
 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @backgrounddark;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}
*/

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#bat {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 2px 0px 10px;
    margin: 5px 15px 5px 0px;
    font-weight: bolder;
}

@keyframes blink {
    to {
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#custom-notification {
    color: @textcolor2;
    font-size: 16px;
    padding: 0px 2px;
}

#custom-toggle-conservation {
    color: @textcolor1;
    margin-left: 15px;
    margin-right: 0px;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}
